 
.header{
    border: solid;
    display: flex;
    color: #ffffff;
    background-color:#080606f8;
    padding-right: 300px;
}
.images{
 position:relative   ;
 order: solid;
    display: flex;
    color: #ffffff;
    background-color:#080606f8;
    margin-left: 20px;
    padding-right: 300px;
    
    justify-content: space-between;
}
.images p{
 position:absolute;
 top: 35%;
 left: 15%;
 right:100%;
 bottom:100%;
 transform: translate(-50%,-50%);
 opacity:0;
 
 
}
.images:hover p{
    opacity:1
   }
.images:hover img{
    opacity:0.33
   }